Language: Cpp

BasedOnStyle: LLVM

BreakBeforeBraces: Attach
# IndentCaseLabels: false
SpacesInContainerLiterals: true


ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
SeparateDefinitionBlocks: Always

AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakAfterDefinitionReturnType: None
PenaltyReturnTypeOnItsOwnLine: 100
PenaltyBreakOpenParenthesis: 1
PenaltyBreakBeforeFirstCallParameter: 1
#PenaltyIndentedWhitespace: 1

InsertBraces: true
FixNamespaceComments: true

DerivePointerAlignment: false
PointerAlignment: Left

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AlignAfterOpenBracket: AlwaysBreak
Cpp11BracedListStyle: true
AlignConsecutiveAssignments: None
# AlignArrayOfStructures: Left
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializers: BeforeComma
NamespaceIndentation: None

