---
CompileFlags:
    Add: [
      "-x c++",
      "/std:c++latest",
      "-D_HAS_CXX17=1",
      "-D_HAS_CXX20=1",
      "-D_HAS_CXX23=1",
      "-D__cpp_consteval",
      "-Wno-missing-field-initializers"
    ]
    Compiler: clang-cl

InlayHints:
  Designators: No
  Enabled: No
  ParameterNames: Yes
  DeducedTypes: No