
Language: Cpp
BasedOnStyle: Microsoft

AccessModifierOffset: -4
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: None
AlignAfterOpenBracket: AlwaysBreak
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: None
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
IndentWidth: 4
IndentCaseLabels: false
NamespaceIndentation: None
PointerAlignment: Left
SpacesInContainerLiterals: true
TabWidth: 4
UseTab: Never
SeparateDefinitionBlocks: Always
InsertBraces: true
AllowShortLambdasOnASingleLine: All
PenaltyIndentedWhitespace: 1
