Language: Cpp

BasedOnStyle: LLVM

BreakBeforeBraces: Attach
# IndentCaseLabels: false
SpacesInContainerLiterals: true
BracedInitializerIndentWidth: 4

ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
SeparateDefinitionBlocks: Always

AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakAfterDefinitionReturnType: None
PenaltyBreakAssignment: 1
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakComment: 10
PenaltyBreakFirstLessLess: 1
PenaltyBreakOpenParenthesis: 1
PenaltyBreakString: 1
PenaltyBreakTemplateDeclaration: 1
PenaltyExcessCharacter: 50
PenaltyIndentedWhitespace: 10
PenaltyReturnTypeOnItsOwnLine: 10000

InsertBraces: true
FixNamespaceComments: true

DerivePointerAlignment: false
PointerAlignment: Left

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AlignAfterOpenBracket: AlwaysBreak
Cpp11BracedListStyle: true
AlignConsecutiveAssignments: None
AlignArrayOfStructures: None
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializers: BeforeComma
NamespaceIndentation: None

